<!DOCTYPE html>
<html>
<head>
<title>Bar Chart Example</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<link rel="stylesheet" href="../static//style/style.css">

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="/static/lib/map.js"></script>

<script src="../static/lib/socket.io.js"></script>
<script src="../static/lib/core.js"></script>
<script src="../static/lib/chart.js"></script>
<script src="../static/lib/barchart.js"></script>
<script src="../static/lib/linechart.js"></script>
<script src="../static/lib/tweets.js"></script>
<script src="../static/js/script.js"></script>

</head>
<body>
	<nav>
		<img class="logo" src="https://cdn-icons-png.flaticon.com/512/10127/10127236.png">
		<p class="logo-name"><i>Real-Time</i> Weather Trends</p>		
	</nav>

	<img class="hidden" width="64" height="64" src="https://img.icons8.com/dusk/64/no-rain.png" alt="no-rain"/>
	<img class="hidden" width="64" height="64" src="https://img.icons8.com/dusk/64/rain--v1.png" alt="rain--v1"/>
	<img class="hidden" width="64" height="64" src="https://img.icons8.com/dusk/64/storm--v1.png" alt="storm--v1"/>

	<!-- Main page -->
	<div class="grid-container">
		
		<!-- General info -->
		<section class="grid-item">
			<table>
				<tr><td colspan="2"><b>General Weather Information</b></td></tr>
				<tr>
					<td>Location</td>
					<td style="vertical-align: middle;"><img src="../static/res/pin.png" style="height: 18px; display: inline-block; margin: 0; vertical-align: middle;"> Buren, NL</td>
				</tr>
				<tr>
					<td>Temperature</td>
					<td>31</td>
				</tr>
				<tr class="empty-table-row"></tr>

				<tr><td colspan="2"><b>Rain & UV</b></td></tr>
				<tr>
					<td>Rain</td>
					<td>0,0 mm</td>
				</tr>
				<tr></tr>
				<tr>
					<td>UV-level</td>
					<td>5</td>
				</tr>
				<tr class="empty-table-row"></tr>

				<tr><td colspan="2"><b>Wind</b></td></tr>
				<tr>
					<td>Wind direction</td>
					<td>ONO</td>
				</tr>
				<tr>
					<td>Wind force</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Wind speed</td>
					<td>12 m/s</td>
				</tr>
				<tr class="empty-table-row"></tr>
				
				<tr><td colspan="2"><b>Humidity & Pressure</b></td></tr>	
				<tr>
					<td>Humidity</td>
					<td>57%</td>
				</tr>
				<tr>
					<td>Pressure</td>
					<td>101 hPa</td>
				</tr>
				<tr>
					<td>Pressure change</td>
					<td>10 mPa</td>
				</tr>

			</table>
		</section>

		<!-- Twitter Feed -->
		<section class="grid-item">
			<p><b>Latest Tweets</b></p>
			<div style="height: 200px; width: 100%; overflow: hidden;" id="tweets"></div>
		</section>

		

		<!-- Map -->
		<section class="grid-item grid-item-map">
            <div id="map_div"></div>
        </section>

		<!-- The temperature and rain charts -->
		<section class="grid-item grid-item-chart">
			<canvas id="daily_chart_div"></canvas>
		</section>

		
	</div>
	<script>initialize();</script>

    
</body>
</html>
